@charset "utf-8";
/* CSS Document */
.rectangle3 {
  background: #005B00;
  height: 40px;
  width: 960px;
  position: relative;
  left:-15px;
  top:0px;
  float: left;
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  z-index: 100; /* the stack order: foreground */
}
.content_box {
  width:auto;
  max-width:568px;   
}